.burger-menu {
  list-style: none;
  margin-top: 100px;
  padding: 30px 0 150px 0;
  width: 100%;
  transform: translateX(-100%);
  height: 100%;
  position: fixed;
  background: red;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $blue;
  z-index: 3;
  transition: $transition;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    &:not(:first-child) {
      margin-top: 20px;
    }

  }

  &__link {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    transition: $transition;

    @media (hover: hover) {
      &:hover {
        color: $dark-blue;
      }
    }
  }

  &.active {
    transform: translateX(0);
  }
}