.main {
  background-image: url('/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;

  &__title {
    font-family: "Lato", sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 100px;

    &--blue {
      color: $blue;
    }
  }

  &__description {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
    margin-bottom: 80px;
  }

  &__item {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }

  &__buttons {
  }

  &__order, &__more {
    padding: 15px 30px;
    width: 180px;
    border-radius: 4px;
    font-family: 'Lato ', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    border: 1px solid;
    text-transform: uppercase;
    cursor: pointer;

    transition: $transition;
  }

  &__order {
    color: $white;
    background: $blue;
    border-color: $white;
    margin: 0 30px 0 0;

    @media (hover: hover) {
      &:hover {
        border-color: $gray;
        background: $white;
        color: $dark-gray;
      }
    }
  }

  &__more {
    color: $dark-gray;
    background: $white;
    border-color: $gray;

    @media (hover: hover) {
      &:hover {
        border-color: $white;
        background: $blue;
        color: $white;
      }
    }
  }
}